{% extends 'base.html' %}

{% block title %}
    Mail Sender | Админпанель
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Общая статистика <i class="fa-solid fa-stethoscope"></i></h1>
        <div class="row mt-4">
            <div class="col-sm-12 col-md-6 mb-4 col-lg-4 card__zoom_effect">
                <div class="card card__dash_general text-center shadow">
                    <div class="card-body">
                        <h2>Всего рассылок</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-4 col-lg-4 card__zoom_effect">
                <div class="card card__dash_general text-center shadow">
                    <div class="card-body">
                        <h2>Активные сейчас</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-4 col-lg-4 card__zoom_effect">
                <div class="card card__dash_general text-center shadow">
                    <div class="card-body">
                        <h2>Запланированные</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-4 col-lg-4 card__zoom_effect">
                <div class="card card__dash_general text-center shadow">
                    <div class="card-body">
                        <h2>Завершенные</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4 card__zoom_effect">
                <div class="card card__dash_general text-center shadow">
                    <div class="card-body">
                        <div class="d-flex justify-content-center mb-3">
                            <div class="rounded-circle bg-success d-flex align-items-center justify-content-center"
                                 style="width: 100px; height: 100px;">
                                <h1 class="text-white mb-0">{{ clients }}</h1>
                            </div>
                        </div>
                        <h2 class="h5">Уникальных клиентов</h2>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="mt-4">Графики и визуализации <i class="fa-solid fa-chart-pie"></i></h1>
        <div class="row mt-4">
            <div class="col-12 mb-4">
                <div class="card card__dash_charts">
                    <div class="card-body">
                        <h2>График активности рассылок</h2>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="card card__dash_charts">
                    <div class="card-body">
                        <h2>Статусы попыток отправки</h2>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card__dash_charts">
                    <div class="card-body">
                        <h2>Время обработки внешним сервисом</h2>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="mt-4">Последние рассылки <i class="fa-solid fa-paper-plane"></i></h1>
        <div class="row mt-4">
            <div class="col-12 mb-4">
                <div class="card card__dash_charts">
                    <div class="card-body">
                        <h2>Последние рассылки</h2>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}